# Ignore these folders
node_modules
.pnpm-store
.next
dist
coverage
Dockerfile
.dockerignore

# Ignore these config/dev-only files
*.log
.env
.git
.gitignore
.vscode

# Add these to ensure CSS files are included:
!src/**/*.css
!src/**/*.ts
!src/**/*.tsx